body {
    background-image: url(img/background.jpeg);
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    background-color: rgb(196, 178, 154);
    width: 1000px;
    height: 750px;
}

.silver {
    display: flex;
    padding-left: 30%;
    padding-top: 5%;
}
.user_silver{
    display: flex;
    font-size: 10px;
    text-align: center;
    padding-top: 2%;
      
}
.silver_time{
    font-size: 6px;
    text-align: center;
    padding-top: 5%;
    margin-left: -40px;
}
.silver img {
    width: 8%;
}

.silver_message {
    width: 270px;
    height: 70px;
    background-color: aqua;
    border-radius: 100px 100px 100px 15px;
    text-align: center;
}

.bright {
    display: flex;
    padding-top: 5%;
    padding-left: 41%;

}

.bright img {
    width: 8%;
}

.bright_message {
    width: 270px;
    height: 70px;
    background-color: brown;
    border-radius: 100px 100px 15px 100px;
    text-align: center;
}
.user_bright{
    display: flex;
    font-size: 10px;
    text-align: center;
    padding-top: 2%;
}
.bright_time{
    font-size: 6px;
    text-align: center;
    padding-top: 5%;
    margin-left: -40px;
}